@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
palette:
https://colorhunt.co/palette/554994f675a8f29393ffccb3
#554994
#F675A8
#F29393
#FFCCB3

AND

#ace1af
*/

.bg-primary {
  background-color: #554994;
}

.bg-secondary {
  background-color: #f675a8;
}

.bg-cool {
  background-color: #ace1af;
}

.primary-button {
  background-color: #554994;
  padding: 0.6em 0.9em;
  min-width: 12rem;
  color: #fff;
  border-radius: 5px;
}

.primary-button:disabled {
  background-color: #ffccb3;
}

.secondary-button {
  background-color: #f675a8;
  padding: 0.6em 0.9em;
  min-width: 12rem;
  color: #fff;
  border-radius: 5px;
}

.secondary-button:disabled {
  background-color: #ffccb3;
}

.secondary-button-bordered {
  border: 1px solid #f675a8;
  padding: 0.6em 0.9em;
  color: #f675a8;
  border-radius: 5px;
}

input {
  border: solid 1px #ddd;
  margin: 0.25rem;
  padding: 0.75rem;
}

input:focus {
  outline: none !important;
  border: 1px solid #ffccb3;
  box-shadow: 0 0 10px #f29393;
}
