@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
palette:
https://colorhunt.co/palette/554994f675a8f29393ffccb3
#554994
#F675A8
#F29393
#FFCCB3

AND

#ace1af
*/

.bg-primary {
  background-color: #554994;
}

.bg-secondary {
  background-color: #F675A8;
}

.bg-cool {
  background-color: #ace1af
}

.primary-button {
  background-color: #554994;
  padding: .6em .9em;
  color: #fff;
  border-radius: 5px;
}

.secondary-button {
  background-color: #F675A8;
  padding: .6em .9em;
  color: #fff;
  border-radius: 5px;
}

.secondary-button:disabled {
  background-color: #FFCCB3;
}

.secondary-button-bordered {
  border: 1px solid #F675A8;
  padding: .6em .9em;
  color: #F675A8;
  border-radius: 5px;
}